* {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  padding: 20px;
  font-size: 24px;
  color: #1d1d21;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.05);
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
}
